
.btn-logout {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;

    transition: color .3s ease;
    transition: background-color .3s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        color: darken($color: black, $amount: 10);
        background-color: lighten($color:white, $amount: 10);
    }
    
}


.btn-primary {
    background-color: $primary;
    border-radius: 2px solid $dark-primary;
    
    &:disabled {
        background-color: lighten($color: $primary, $amount: 15);
    }

    &:hover { 
        background-color: darken($color: $primary, $amount: 15);
    }
}

.btn-block {
    width: 100%;
}


